<%= link_to "Upload File", '#' %>
<%= link_to "Create Folder", new_folder_path %>

<br>
Path:/
<br>

<% if @folders %>
  <ul>
    <% @folders.each do |folder| %>
      <li>
      	<%= link_to folder.name, folder %>
      </li>
    <% end %>	
  </ul>
<% else %>
No Files/Folders
<% end %>