<div class="row">
  <div class="col-md-8 col-md-offset-2">
	<%= link_to "Upload File", new_user_file_path, class: 'btn btn-primary' %>
	<%= link_to "Create Folder", new_folder_path, class: 'btn btn-primary' %>

	<div class="breadcrumbs">
	  <h4>
	    <%= render 'shared/root_path' %>
	  </h4>
	</div>

	<%= render 'shared/display_contents' %>  	
  </div>
</div>
