<%= link_to "Upload File", new_user_file_path, class: 'btn btn-primary' %>
<%= link_to "Create Folder", new_folder_path, class: 'btn btn-primary' %>

<div class="breadcrumbs">
  Path: /
</div>

<%= render 'folders/display_folders' %>