<% if @folders.any? %>
  <ul>
    <% @folders.each do |folder| %>
      <li>
      	<i class="fa fa-folder"></i>
      	<%= link_to folder.name, folder %>

      	<%= link_to(folder, method: :delete, data: { confirm: "Are you sure you want to delete this folder and all its contents?" } ) do %>
          <%= fa_icon "trash" %>
      	<% end %>
      </li>
    <% end %>	
  </ul>
<% else %>
No Files/Folders
<% end %>

