<h3>Show Folder <%= @folder.name %></h3>
<%= link_to "Upload File", '#', class: 'btn btn-primary' %>
<%= link_to "Create Folder", new_folder_path(folder_id: @folder.id), class: 'btn btn-primary' %>

<br>
Path:/
<br>

<%= render 'display_folders' %>